@use './colors';
@use './general-classes';


.header {
  background-color: colors.$gray;
  padding: 10px;
  margin-bottom: 50px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.header-wrapper__searchbar {
  height: 25px;
  width: 55%;
  display: flex;
  gap: 3px;
}

.header-wrapper__searchbar-input {
  width: 100%;
  padding: 5px;
}

.header-wrapper__searchbar-icon {
  color: colors.$gray;
  font-weight: 700;
  padding: 5px;
}

.header-wrapper__register {
  display: flex;
  gap: 10px;
}

.header-wrapper__register a {
  color: colors.$white;
}

@media (min-width:768px) {
  .header-wrapper {
    max-width: 85%;
    margin: 0 auto;
  }

  .header-wrapper__register {
    gap: 20px;
  }
}